body{
  font-family: 'Raleway', sans-serif;
  font-family: 'Reem Kufi Fun', sans-serif;
  font-family: 'Rubik', sans-serif;
  margin: 20px;
  height: 100vh;
  background-color: azure;
}

h1{
  color: rgb(9, 61, 61);
}

.all {
  display: flex;
  gap: 30px;
}

.properties{
  width: 35vw;
  height: 100vh;
  background-color: rgb(201, 193, 193);
  border-radius: 5px;
  border: 2px solid;
}

.properties div{
  padding-top: 22px;
  padding-left: 50px;
}

.content{
  width: 60vw;
  height: 100vh;
  background-color: rgb(198, 237, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

}

.box{
  width: 150px;
  height: 150px;
  background-color: blue;
  margin-bottom: 145px;
  box-shadow: 10px 10px 5px 5px gray ;
}

.info{
 width: 400px;
 height: 100px;
 background-color: rgb(173, 172, 172);
 margin-top: 500px;
 border-radius: 10px;
 position: absolute;
 display: inline;
 padding: 20px;
}

.info p {
  display: inline;
  padding: 1px;
}

.infobox {
  margin-top: 20px;
}
